{% extends "layout.njk" %}
{% block content %}
    <main class="container">
        <h2>{{message}}</h2>
        <form action="/news/edit" method="POST">
            <div class="form-field">
                <input type="hidden" name="id" value="{{ rows.id }}">
                <label for="message">Message:</label>
                <textarea type="text" name="message" id="message" value="{{ rows.message }}"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </main>
{% endblock %}