{% extends "layout.njk" %}
{% block content %}
    <main class="container">
        <h2>{{message}}</h2>
    <ul class="tweets">
        {%for tweet in tweets%}
            <li class="tweet">
                <article>
                    <header>
                        <h3>{{tweet.name}}</h3>
                        <time datetime="{{tweet.updated_at}}">{{tweet.updated_at}}</time>
                    </header>
                    <p>{{tweet.message}}</p>
                    <footer>
                        <ul>
                            <li>Share</li>
                            <li>Reply</li>
                        </ul>
                    </footer>
                </article>
            </li>
        {%endfor%}
    </ul>
    </main>
{% endblock %}