<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1><a href="http://localhost:3000/">{{title}}</a></h1>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>